@import "./../../../../style/colors.scss";
@import "./../../../../style/variables.scss";

.points-left-error {
  color: $errorDark;
}

.points-left-label {
  text-decoration: underline;
}

.skill {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.skill-name {
  display: flex;
  align-items: anchor-center;
  gap: 0.5rem;
  width: 200px;
}

.skill-input {
  display: flex;
  align-items: anchor-center;
  gap: 0.5rem;
}

.arrow-icon {
  font-size: 20pt;
  border-radius: $borderRadius;
  padding: 0.5rem 0;
}

.arrow-icon-active:hover {
  background-color: $grayLight;
}

.arrow-icon-active:active {
  background-color: $grayLightAccent;
}

.arrow-icon-disabled {
  color: $gray-text;
}
