@import "./../../../../style/colors.scss";
@import "./../../../../style/variables.scss";

.points-left-error {
  color: $errorDark;
}

.points-left-label {
  text-decoration: underline;
}

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skill {
  display: flex;
}

.skill-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 160px;
}

.skill-input {
  display: flex;
  align-items: center;
}

.arrow-icon {
  font-size: 20pt;
  border-radius: 50%;
  padding: 0.5rem 0;
}

.arrow-icon-active:hover {
  background-color: $grayLight;
}

.arrow-icon-active:active {
  background-color: $grayLightAccent;
}

.arrow-icon-disabled {
  color: $gray-text;
}
