@use "../../../../style/variables.scss";
@use "../../../../style/colors.scss" as *;

.select {
  height: 20pt;
  padding: 2pt;
  border-radius: variables.$borderRadius;
  min-width: 50px;
}

.select:active {
  border-color: $primary;
  outline: 1px solid $primary;
}
.select:focus {
  border-color: $primary;
  outline: 1px solid $primary;
}
