<h3>S.P.E.C.I.A.L.</h3>
<p [ngClass]="{'points-left-error': pointsLeft < 0}"><span class="points-left-label">Points left:</span> {{pointsLeft}}</p>
<div class="container">
  <app-number-input [(value)]="special.strength"
                    (valueChange)="onSpecialChanged()"
                    label="STR"
                    [min]="minPoints"
                    [max]="maxPoints"></app-number-input>

  <app-number-input [(value)]="special.perception"
                    (valueChange)="onSpecialChanged()"
                    label="PER"
                    [min]="minPoints"
                    [max]="maxPoints"></app-number-input>

  <app-number-input [(value)]="special.endurance"
                    (valueChange)="onSpecialChanged()"
                    label="END"
                    [min]="minPoints"
                    [max]="maxPoints"></app-number-input>

  <app-number-input [(value)]="special.charisma"
                    (valueChange)="onSpecialChanged()"
                    label="CHA"
                    [min]="minPoints"
                    [max]="maxPoints"></app-number-input>

  <app-number-input [(value)]="special.intelligence"
                    (valueChange)="onSpecialChanged()"
                    label="INT"
                    [min]="minPoints"
                    [max]="maxPoints"></app-number-input>

  <app-number-input [(value)]="special.agility"
                    (valueChange)="onSpecialChanged()"
                    label="AGI"
                    [min]="minPoints"
                    [max]="maxPoints"></app-number-input>

  <app-number-input [(value)]="special.luck"
                    (valueChange)="onSpecialChanged()"
                    label="LCK"
                    [min]="minPoints"
                    [max]="maxPoints"></app-number-input>
</div>
