<table class="table">
  <tr>
    <th>Name</th>
    <th>Weapon Type</th>
    <th>Damage</th>
    <th>Damage Effects</th>
    <th>Damage Type</th>
    <th>Fire Rate</th>
    <th>Range</th>
    <th>Qualities</th>
    <th>Ammo</th>
    <th>Weight</th>
    <th>Cost</th>
    <th>Rarity</th>
  </tr>
  <tr *ngFor="let weapon of weapons">
    <td>{{weapon.name}}</td>
    <td>{{weapon.skill}}</td>
    <td>{{weapon.damage}}</td>
    <td>{{weapon.effectsText}}</td>
    <td>{{weapon.type}}</td>
    <td>{{weapon.rate}}</td>
    <td>{{weapon.range}}</td>
    <td>{{weapon.qualitiesText}}</td>
    <td>{{weapon.ammo}}</td>
    <td>{{weapon.weight}}</td>
    <td>{{weapon.cost}}</td>
    <td>{{weapon.rarity}}</td>
  </tr>
</table>
