<table class="table">
  <tr>
    <th>Name</th>
    <th>Effects</th>
    <th>Duration</th>
    <th>Addictive?</th>
    <th>Weight</th>
    <th>Cost</th>
    <th>Rarity</th>
  </tr>
  <tr *ngFor="let chem of chems">
    <td>{{chem.name}}</td>
    <td>{{chem.effects}}</td>
    <td>{{chem.duration}}</td>
    <td class="center">{{chem.addictive > 0 ? 'Yes ' + chem.addictive  : 'No'}}</td>
    <td class="right">0</td>
    <td class="right">{{chem.cost}}</td>
    <td class="right">{{chem.rarity}}</td>
  </tr>
</table>
