<div class="stats">
  <div><strong>Melee damage: </strong>+{{stats.meleeBonus}}</div>
  <div><strong>Defense: </strong>{{stats.defense}}</div>
  <div><strong>Initiative: </strong>{{stats.initiative}}</div>
</div>
<div class="stats">
  <div><strong>Posion DR: </strong>
    <app-number-input inputName="poisonDR" [(value)]="state.poisonResistance" (valueChange)="save()"></app-number-input>
  </div>
  <div><strong>HP: </strong>
    <app-number-input inputName="currentHP" [(value)]="state.hp" (valueChange)="save()"></app-number-input>
    /{{stats.maxHp}}
  </div>
</div>
<div>
  <div class="part-center">
    <p><strong>HEAD</strong></p>
    <table>
      <tr>
        <td>Phys. DR: <strong>{{state.combatState.head.physicalRes}}</strong></td>
        <td>Rad. DR: <strong>{{state.combatState.head.radRes}}</strong></td>
      </tr>
      <tr>
        <td>En. DR: <strong>{{state.combatState.head.energyRes}}</strong></td>
        <td>HP:
          <app-number-input inputName="head-hp" [(value)]="state.combatState.head.hp" (valueChange)="save()"></app-number-input>
        </td>
      </tr>
    </table>
  </div>
  <div class="part-row">
    <div>
      <p><strong>LEFT ARM</strong></p>
      <table>
        <tr>
          <td>Phys. DR: <strong>{{state.combatState.leftArm.physicalRes}}</strong></td>
          <td>Rad. DR: <strong>{{state.combatState.leftArm.radRes}}</strong></td>
        </tr>
        <tr>
          <td>En. DR: <strong>{{state.combatState.leftArm.energyRes}}</strong></td>
          <td>HP:
            <app-number-input inputName="leftArm-hp" [(value)]="state.combatState.leftArm.hp" (valueChange)="save()"></app-number-input>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <p><strong>RIGHT ARM</strong></p>
      <table>
        <tr>
          <td>Phys. DR: <strong>{{state.combatState.rightArm.physicalRes}}</strong></td>
          <td>Rad. DR: <strong>{{state.combatState.rightArm.radRes}}</strong></td>
        </tr>
        <tr>
          <td>En. DR: <strong>{{state.combatState.rightArm.energyRes}}</strong></td>
          <td>HP:
            <app-number-input inputName="rightArm-hp" [(value)]="state.combatState.rightArm.hp" (valueChange)="save()"></app-number-input>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="part-center">
    <p><strong>TORSO</strong></p>
    <table>
      <tr>
        <td>Phys. DR: <strong>{{state.combatState.torso.physicalRes}}</strong></td>
        <td>Rad. DR: <strong>{{state.combatState.torso.radRes}}</strong></td>
      </tr>
      <tr>
        <td>En. DR: <strong>{{state.combatState.torso.energyRes}}</strong></td>
        <td>HP:
          <app-number-input inputName="torso-hp" [(value)]="state.combatState.torso.hp" (valueChange)="save()"></app-number-input>
        </td>
      </tr>
    </table>
  </div>
  <div class="part-row">
    <div>
      <p><strong>LEFT LEG</strong></p>
      <table>
        <tr>
          <td>Phys. DR: <strong>{{state.combatState.leftLeg.physicalRes}}</strong></td>
          <td>Rad. DR: <strong>{{state.combatState.leftLeg.radRes}}</strong></td>
        </tr>
        <tr>
          <td>En. DR: <strong>{{state.combatState.leftLeg.energyRes}}</strong></td>
          <td>HP:
            <app-number-input inputName="leftLeg-hp" [(value)]="state.combatState.leftLeg.hp" (valueChange)="save()"></app-number-input>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <p><strong>RIGHT LEG</strong></p>
      <table>
        <tr>
          <td>Phys. DR: <strong>{{state.combatState.rightLeg.physicalRes}}</strong></td>
          <td>Rad. DR: <strong>{{state.combatState.rightLeg.radRes}}</strong></td>
        </tr>
        <tr>
          <td>En. DR: <strong>{{state.combatState.rightLeg.energyRes}}</strong></td>
          <td>HP:
            <app-number-input inputName="rightLeg-hp" [(value)]="state.combatState.rightLeg.hp" (valueChange)="save()"></app-number-input>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
