@use "../../../../style/colors.scss" as *;

.stats {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.part-row {
  display: flex;
  justify-content: space-between;
}

.part-center {
  justify-items: center;
}

tr {
  background-color: $accentLight;
}
