<div class="stats">
  <div><strong>Melee damage: </strong>+{{stats.meleeBonus}}</div>
  <div><strong>Defense: </strong>{{stats.defense}}</div>
  <div><strong>Initiative: </strong>{{stats.initiative}}</div>
</div>
<div class="stats">
  <div><strong>Posion DR: </strong>{{state.poisonDuration}}</div>
  <div><strong>HP: </strong>{{state.hp}}/{{stats.maxHp}}</div>
</div>
<div>
  <div class="part-center">
    <p><strong>HEAD</strong></p>
    <div class="part">
      <div>
        <p>Phys. DR: {{state.bodyState.head.physicalRes}}</p>
        <p>En. DR: {{state.bodyState.head.energyRes}}</p>
      </div>
      <div>
        <p>Rad. DR: {{state.bodyState.head.radRes}}</p>
        <p>HP: <app-number-input inputName="head-hp" [(value)]="state.bodyState.head.hp"></app-number-input></p>
      </div>
    </div>
  </div>
  <div class="part-row">
    <div>
      <p><strong>LEFT ARM</strong></p>
      <div class="part">
        <div>
          <p>Phys. DR: {{state.bodyState.leftArm.physicalRes}}</p>
          <p>En. DR: {{state.bodyState.leftArm.energyRes}}</p>
        </div>
        <div>
          <p>Rad. DR: {{state.bodyState.leftArm.radRes}}</p>
          <p>HP: <app-number-input inputName="leftArm-hp" [(value)]="state.bodyState.leftArm.hp"></app-number-input></p>
        </div>
      </div>
    </div>
    <div>
      <p><strong>RIGHT ARM</strong></p>
      <div class="part">
        <div>
          <p>Phys. DR: {{state.bodyState.rightArm.physicalRes}}</p>
          <p>En. DR: {{state.bodyState.rightArm.energyRes}}</p>
        </div>
        <div>
          <p>Rad. DR: {{state.bodyState.rightArm.radRes}}</p>
          <p>HP: <app-number-input inputName="rightArm-hp" [(value)]="state.bodyState.rightArm.hp"></app-number-input></p>
        </div>
      </div>
    </div>
  </div>
  <div class="part-center">
    <p><strong>TORSO</strong></p>
    <div class="part">
      <div>
        <p>Phys. DR: {{state.bodyState.torso.physicalRes}}</p>
        <p>En. DR: {{state.bodyState.torso.energyRes}}</p>
      </div>
      <div>
        <p>Rad. DR: {{state.bodyState.torso.radRes}}</p>
        <p>HP: <app-number-input inputName="torso-hp" [(value)]="state.bodyState.torso.hp"></app-number-input></p>
      </div>
    </div>
  </div>
  <div class="part-row">
    <div>
      <p><strong>LEFT LEG</strong></p>
      <div class="part">
        <div>
          <p>Phys. DR: {{state.bodyState.leftLeg.physicalRes}}</p>
          <p>En. DR: {{state.bodyState.leftLeg.energyRes}}</p>
        </div>
        <div>
          <p>Rad. DR: {{state.bodyState.leftLeg.radRes}}</p>
          <p>HP: <app-number-input inputName="leftLeg-hp" [(value)]="state.bodyState.leftLeg.hp"></app-number-input></p>
        </div>
      </div>
    </div>
    <div>
      <p><strong>RIGHT LEG</strong></p>
      <div class="part">
        <div>
          <p>Phys. DR: {{state.bodyState.rightLeg.physicalRes}}</p>
          <p>En. DR: {{state.bodyState.rightLeg.energyRes}}</p>
        </div>
        <div>
          <p>Rad. DR: {{state.bodyState.rightLeg.radRes}}</p>
          <p>HP: <app-number-input inputName="rightLeg-hp" [(value)]="state.bodyState.rightLeg.hp"></app-number-input></p>
        </div>
      </div>
    </div>
  </div>
</div>
