<app-table #ammoTable [items]="ammo" [columns]="ammoTableColumns"></app-table>
@if (ammo.length == 0) {
  <div>No ammo in inventory</div>
}
<div class="margin">
  @if (!isSelectAmmo) {
    <button class="button" (click)="isSelectAmmo = true">Add</button>
  }
  @else {
    <button class="button" (click)="isSelectAmmo = false">Cancel</button>
  }
  
  @if (isSelectAmmo) {
    <app-table [items]="ammoOptions"
              [columns]="ammoSelectTableColumns"
              [sortProperties]="['name', 'subType']"
              (rowClicked)="selectAmmo($event)"></app-table>
  }
</div>

<ng-template #ammoAmount let-item let-index>
  <app-amount-cell [item]="item" [index]="index" (changed)="save()" (itemRemoved)="removeAmmo(item)"></app-amount-cell>
</ng-template>
