@use "../../../../style/colors.scss" as *;

.button-container {
  display: flex;
  gap: 1rem;
}

.center-text {
  text-align: center;
}

.margin {
  margin: 1.5rem;
}

.input-cell {
  align-content: start;
}

.star-icon {
  font-size: 16pt;
  color: $primary;
}

.locations {
  display: flex;
  gap: 1rem;
}
