<p>Level</p>
<p>{{character.level}}</p>

<h3>Special</h3>
<div class="special-list">
  <div>
    <p>STRENGTH</p>
    <p>{{special.strength}}</p>
  </div>
  <div>
    <p>PERCEPTION</p>
    <p>{{special.perception}}</p>
  </div>
  <div>
    <p>ENDURANCE</p>
    <p>{{special.endurance}}</p>
  </div>
  <div>
    <p>CHARISMA</p>
    <p>{{special.charisma}}</p>
  </div>
  <div>
    <p>INTELLIGENCE</p>
    <p>{{special.intelligence}}</p>
  </div>
  <div>
    <p>AGILITY</p>
    <p>{{special.agility}}</p>
  </div>
  <div>
    <p>LUCK</p>
    <p>{{special.luck}}</p>
  </div>
</div>

<div class="main-container">
  <div>
    <h3>Skills</h3>
    @for (skill of skills; track $index) {
      <p>{{skill.name}} [{{skill.attribute}}]: {{skill.isTagged ? '\u2713 ': ''}} {{skill.ranks}}</p>
    }
  </div>
  <div>
    <div class="main-container">
      <div>Melee damage: +{{stats.meleeBonus}}</div>
      <div>Defense: {{stats.defense}}</div>
      <div>Initiative: {{stats.initiative}}</div>
    </div>
    <div>
      HP: ???/{{stats.maxHp}}
    </div>
    <div>

      <p>Head: ???</p>
      <p>Left Arm: ???</p>
      <p>Right Arm: ???</p>
      <p>Torso: ???</p>
      <p>Left Leg: ???</p>
      <p>Right Leg: ???</p>
    </div>
    <div>
      <h3>Weapons</h3>
      <table></table>
    </div>
  </div>
</div>
