<div class="container">
  <app-level-sheet></app-level-sheet>
  
  <app-special-sheet></app-special-sheet>
  <div class="main-container">
    <app-skills-sheet></app-skills-sheet>
    <app-combat-sheet class="combat-sheet"></app-combat-sheet>
  </div>
  <div>
    <div>
      <h3>Weapons</h3>
      <table>
        <tr>
          <td>Name</td>
          <td>Damage</td>
          <td>Quality</td>
          <td>Effect</td>
        </tr>
        @for (weapon of state.markedWeapons; track $index) {
          <tr>
            <td>{{weapon.name}}</td>
            <td>{{weapon.damage}} CD</td>
            <td>{{weapon.qualitiesText}}</td>
            <td>{{weapon.effectsText}}</td>
          </tr>
        }
      </table>
    </div>
    <div>
      <h3>Armor</h3>
      <table>
        <tr>
          <td>Name</td>
          <td>Physical</td>
          <td>Energy</td>
          <td>Radiation</td>
        </tr>
        @for (armor of state.armor; track $index) {
          <tr>
            <td>{{armor.name}}</td>
            <td>{{armor.physicalRes}}</td>
            <td>{{armor.energyRes}}</td>
            <td>{{armor.radiationRes}}</td>
          </tr>
        }
      </table>
    </div>
    <div>
      <h3>Perks</h3>
      @for (perk of perks; track $index) {
        <p>{{perk.name}}</p>
        <p>{{perk.ranks}}</p>
        <p>{{perk.description}}</p>
      }
    </div>
  </div>
</div>
