@use "./../../../../style/colors.scss" as *;
@use "./../../../../style/variables.scss";

.button-container {
  margin: 1rem 0;
  display: flex;
  gap: 0.5rem;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  background-color: $primaryLight;
  color: $primaryDark;
  width: 200px;
  border: 1pt solid $primary;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.card:hover {
  background-color: $primaryLightAccent;
}

.disabled-card {
  background-color: $grayLight;
  color: $gray-text;
  border-color: $grayLightAccent;
  cursor: default;
}

.disabled-card:hover {
  background-color: $grayLight;
}

.selected-card {
  background-color: $accentLight;
  color: $accentDark;
  border-color: $accent;
  outline: 1pt solid $accent;
}

.selected-card:hover {
  background-color: $accentLightAccent;
}

p {
  margin: 0;
}

.perk-name {
  font-weight: bold;
  font-size: 12pt;
}

.info-icon {
  font-size: 15pt;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.property {
  text-decoration: underline;
}

.rank-field {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.rank-button-group {
  display: flex;
  gap: 0.5rem;
}

.rank-button {
  width: 25px;
  border: 1pt solid $primary;
  border-radius: variables.$borderRadius;
  padding: 2pt 4pt;
  color: $accentDark;
  font-size: 14pt;
  background-color: $primaryLight;
  cursor: pointer;

  &:hover {
    background-color: $primaryLightAccent;
  }
}

.rank-button-disabled {
  border-color: $grayLightAccent;
  background-color: $grayLight;
  color: $gray;
  cursor: default;

  &:hover {
    background-color: $grayLight;
  }
}
