<div class="header">
  <p class="toggle-button" [ngClass]="{'active-toggle-button': selectedTable == 'weapons'}" (click)="navigateTo('weapons')">Weapons</p>
  <p class="toggle-button" [ngClass]="{'active-toggle-button': selectedTable == 'ammo'}" (click)="navigateTo('ammo')">Ammo</p>
  <p class="toggle-button" [ngClass]="{'active-toggle-button': selectedTable == 'weapon-mods'}" (click)="navigateTo('weapon-mods')">Weapon Mods</p>
  <p class="toggle-button" [ngClass]="{'active-toggle-button': selectedTable == 'armor'}" (click)="navigateTo('armor')">Armor</p>
  <p class="toggle-button" [ngClass]="{'active-toggle-button': selectedTable == 'armor-mods'}" (click)="navigateTo('armor-mods')">Armor Mods</p>
  <p class="toggle-button" [ngClass]="{'active-toggle-button': selectedTable == 'consumables'}" (click)="navigateTo('consumables')">Consumables</p>
  <p class="toggle-button" [ngClass]="{'active-toggle-button': selectedTable == 'chems'}" (click)="navigateTo('chems')">Chems</p>
  <p class="toggle-button" [ngClass]="{'active-toggle-button': selectedTable == 'magazines'}" (click)="navigateTo('magazines')">Magazines</p>
  <p class="toggle-button" [ngClass]="{'active-toggle-button': selectedTable == 'miscellany'}" (click)="navigateTo('miscellany')">Miscellany</p>
</div>
<router-outlet></router-outlet>
