<div class="header">
  <p class="link-button" [ngClass]="{'active-link': selectedTable == 'weapons'}" (click)="navigateTo('weapons')">Weapons</p>
  <p class="link-button" [ngClass]="{'active-link': selectedTable == 'ammo'}" (click)="navigateTo('ammo')">Ammo</p>
  <p class="link-button" [ngClass]="{'active-link': selectedTable == 'weapon-mods'}" (click)="navigateTo('weapon-mods')">Weapon Mods</p>
  <p class="link-button" [ngClass]="{'active-link': selectedTable == 'armor'}" (click)="navigateTo('armor')">Armor</p>
  <p class="link-button" [ngClass]="{'active-link': selectedTable == 'armor-mods'}" (click)="navigateTo('armor-mods')">Armor Mods</p>
  <!-- <p class="link-button" [ngClass]="{'active-link': selectedTable == 'consumables'}" (click)="navigateTo('consumables')">Armor Mods</p> -->
  <!-- <p class="link-button" [ngClass]="{'active-link': selectedTable == 'magazines'}" (click)="navigateTo('magazines')">Armor Mods</p> -->
  <!-- <p class="link-button" [ngClass]="{'active-link': selectedTable == 'miscellany'}" (click)="navigateTo('miscellany')">Armor Mods</p> -->
</div>
<router-outlet></router-outlet>
