  <div class="amount-cell">
    @if (!item.isEditing) {
      <span (click)="item.isEditing = true">{{item.amount}}</span>
      <div class="button-container">
        <span class="toggle-button toggle-font" (click)="decreaseAmount()">{{item.amount > 1 ? '-' : 'x'}}</span>
        <span class="toggle-button toggle-font" (click)="increaseAmount()">+</span>
      </div>
    }
    @else {
      <app-number-input [inputName]="'amount-input-' + index" [(value)]="item.amount" (valueChange)="confirmEdit()"></app-number-input>
      <span class="toggle-button" (click)="confirmEdit()">&#10003;</span>
    }
  </div>
