<h3>S.P.E.C.I.A.L.</h3>
<div class="container">
  <div>
    <p>STR</p>
    <input type="number" class="attribute-input" [(ngModel)]="character.special.strength">
  </div>

  <div>
    <p>PER</p>
    <input type="number" class="attribute-input" [(ngModel)]="character.special.perception">
  </div>

  <div>
    <p>END</p>
    <input type="number" class="attribute-input" [(ngModel)]="character.special.endurance">
  </div>

  <div>
    <p>CHA</p>
    <input type="number" class="attribute-input" [(ngModel)]="character.special.charisma">
  </div>

  <div>
    <p>INT</p>
    <input type="number" class="attribute-input" [(ngModel)]="character.special.intelligence">
  </div>

  <div>
    <p>AGI</p>
    <input type="number" class="attribute-input" [(ngModel)]="character.special.agility">
  </div>

  <div>
    <p>LCK</p>
    <input type="number" class="attribute-input" [(ngModel)]="character.special.luck">
  </div>
</div>
