@import "../../../style/colors.scss";

.points-left-error {
  color: $errorDark;
}

.points-left-label {
  text-decoration: underline;
}

.container {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.input-label {
  font-weight: bold;
  font-size: 11pt;
}

.attribute-input {
  width: 100px;
}

p {
  margin: 0;
}
