<table class="table">
  <tr>
    <th>Name</th>
    <th>Weapon Type</th>
    <th>Damage</th>
    <th>Damage Effects</th>
    <th>Damage Type</th>
    <th>Fire Rate</th>
    <th>Range</th>
    <th>Qualities</th>
    <th>Ammo</th>
    <th>Weight</th>
    <th>Cost</th>
    <th>Rarity</th>
  </tr>
  <tr *ngFor="let weapon of weapons">
    <td>{{weapon.name}}</td>
    <td>{{weapon.skill}}</td>
    <td class="right">{{weapon.damage}}&nbsp;CD</td>
    <td>{{weapon.effectsText}}</td>
    <td>{{weapon.type}}</td>
    <td class="right">{{weapon.rate}}</td>
    <td class="center">{{weapon.range}}</td>
    <td>{{weapon.qualitiesText}}</td>
    <td class="right">{{weapon.ammo}}</td>
    <td class="right">{{weapon.weight}}</td>
    <td class="right">{{weapon.cost}}</td>
    <td class="right">{{weapon.rarity}}</td>
  </tr>
</table>
