table {
  margin-bottom: 1rem;
}

.armor-view-section {
  max-width: 750px;
}

.armor-view-row {
  display: flex;
  justify-content: space-between;
}

.armor-view-row-center {
  justify-items: center;
}