<table class="table">
  <tr>
    <th *ngFor="let column of columns">{{column.label}}</th>
  </tr>
    
  <tr>
    <td *ngFor="let column of columns">
      <app-input *ngIf="column.filterType == FilterTypeEnum.Text"
                  [inputName]="column.property + 'Filter'"
                  [(value)]="column.filterText"
                  (valueChange)="filter()"></app-input>
      <app-select *ngIf="column.filterType == FilterTypeEnum.Select"
                  [inputName]="column.property + 'Filter'"
                  [options]="column.options"
                  [(value)]="column.filterText"
                  (valueChange)="filter()"></app-select>
      <app-sort-td *ngIf="column.filterType == FilterTypeEnum.Sort"
                  [(value)]="column.isAscending"
                  (valueChange)="sort()"></app-sort-td>
    </td>
  </tr>

  <tr *ngFor="let item of displayedItems">
    <td *ngFor="let column of columns" [class]="column.align">{{column.getText(item)}}</td>
  </tr>
</table>
