<table class="table">
  <tr *ngFor="let column of columns">
      <th>{{column.label}}</th>
    </tr>
    
  <tr *ngFor="let column of columns">
    <td>
      <app-input *ngIf="column.filterType == FilterTypeEnum.Text"
                  [inputName]="column.property + '-filter'"
                  [(value)]="column.filterText"
                  (valueChange)="column.filterFunc(items)"></app-input>
      <app-select *ngIf="column.filterType == FilterTypeEnum.Select"
                  inputName="typeFilter"
                  [options]="column.options"
                  [(value)]="column.filterText"
                  (valueChange)="column.filterFunc(items)"></app-select>
      <app-sort-td [(value)]="column.isAscending" (valueChange)="column.sortFunc(items)"></app-sort-td>
    </td>
  </tr>

  <tr *ngFor="let item of items">
    <td *ngFor="let column of columns" [class]="column.align">{{column.getText(item)}}</td>
  </tr>
</table>
