@use "./../style/colors.scss" as *;
@use "./../style/variables.scss";

.header {
  padding-left: 1rem;
  margin: -0.5rem;
  display: flex;
  gap: 1rem;
  background-color: $primaryLight;
  color: $primaryDark;
}

.header-link {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: $primaryLightAccent;
  border-radius: variables.$borderRadius;

  &:hover {
    color: $accentDark;
    background-color: $accentLight;
  }
  &:active {
    background-color: $accentLightAccent;
  }
}

.active-link {
  background-color: $accentLight;
  color: $accentDark;

  &:hover {
    background-color: $accentLightAccent;
  }
}

