<h3>Perks</h3>

<div class="button-container">
  <button class="toggle-button" [ngClass]="{'selected-button': showAll}" (click)="showAll = !showAll">show all</button>
  <button class="toggle-button" [ngClass]="{'selected-button': showDetails}" (click)="showDetails = !showDetails">show details</button>
</div>

<div class="cards-container">
  <div *ngFor="let perk of showAll ? perks : availablePerks" class="card" [ngClass]="{'disabled-card': !perk.isAvailable, 'selected-card': perk.isSelected}" (click)="perkSelected(perk)">
    <p class="perk-name mb-05" [matTooltip]="perk.description" [matTooltipShowDelay]="400">
      {{perk.name}}
      <mat-icon *ngIf="!showDetails" class="info-icon">info_outline</mat-icon>
    </p>
    <p class="mb-05"><span class="property">Ranks:</span> {{perk.maxRanks}}</p>
    <p class="mb-05"><span class="property">Requirements:</span> {{perk.requirementText}}</p>
    <p *ngIf="showDetails">{{perk.description}}</p>
  </div>
</div>
