<h3>Perks</h3>
<div class="card-container">
  <div class="card">
    <p>Action Boy / Girl</p>
    <p>Ranks: 1</p>
    <p>Requirements: None</p>
    <p>When you spend AP to take an additional major action, you do not suffer the
      increased skill test difficulty during your
      second action.</p>
  </div>
  <div class="card">
    <p>Action Boy / Girl</p>
    <p>Ranks: 1</p>
    <p>Requirements: None</p>
    <p>When you spend AP to take an additional major action, you do not suffer the
      increased skill test difficulty during your
      second action.</p>
  </div>
  <div class="card">
    <p>Action Boy / Girl</p>
    <p>Ranks: 1</p>
    <p>Requirements: None</p>
    <p>When you spend AP to take an additional major action, you do not suffer the
      increased skill test difficulty during your
      second action.</p>
  </div>
  <div class="card">
    <p>Action Boy / Girl</p>
    <p>Ranks: 1</p>
    <p>Requirements: None</p>
    <p>When you spend AP to take an additional major action, you do not suffer the
      increased skill test difficulty during your
      second action.</p>
  </div>
</div>
