@import "./../../../style/colors.scss";

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  background-color: $primaryLight;
  color: $primaryDark;
  width: 200px;
  border: 1pt solid $primary;
  border-radius: 1rem;
  padding: 1rem;
}

p {
  margin: 0;
}
