<app-table #table [items]="misc" [columns]="inventoryTableColumns" [sortProperties]="sortProperties"
          [editable]="true" (edited)="save()"
          [addable]="true" [newItemFactory]="newItemFactory" (added)="addCustom($event)"></app-table>

@if (misc.length == 0 && !table.isAdding) {
  <div class="center-text">No miscellany item in inventory</div>
}

<div class="margin">
  <div class="button-container">
    @if (!isSelect && !table.isAdding) {
      <button class="button" (click)="isSelect = true">Add</button>
      <button class="button" (click)="table.startAdd()">Add Custom</button>
    }
    @else if (isSelect) {
      <button class="button" (click)="isSelect = false">Cancel</button>
    }
  </div>

  @if (isSelect) {
    <app-table [items]="selectOptions"
              [columns]="selectTableColumns"
              [sortProperties]="sortProperties"
              (rowClicked)="selectItem($event)"></app-table>
  }
</div>


<ng-template #amount let-item let-index>
  <app-amount-cell [item]="item" [index]="index" (changed)="save()" (itemRemoved)="removeItem(item)"></app-amount-cell>
</ng-template>
