<table class="table">
  <tr>
    <th>Name</th>
    <th>Prefix</th>
    <th>Weapon Type</th>
    <th>Type</th>
    <th>Effects</th>
    <th>Weight</th>
    <th>Cost</th>
    <th>Perk</th>
  </tr>
  <tr *ngFor="let mod of weaponMods">
    <td>{{mod.name}}</td>
    <td>{{mod.prefix}}</td>
    <td>{{mod.weaponType}}</td>
    <td>{{mod.type}}</td>
    <td>{{mod.effectText}}</td>
    <td class="right">{{mod.weightChange > 0 ? '+': ''}}{{mod.weightChange == 0 ? '-' : mod.weightChange}}</td>
    <td class="right">{{mod.costChange > 0 ? '+': ''}}{{mod.costChange == 0 ? '-' : mod.costChange}}</td>
    <td>{{mod.perks}}</td>
  </tr>
</table>
