@use "./../../../../style/colors.scss" as *;

.selection {
  margin: 0.5rem;
}

h3 {
  text-decoration: underline;
  color: $primaryDark;
}

.active-title {
  color: $accentDark;
}

.selected-weapon-table {
  width: 100%;
}

.mt {
  margin-top: 2rem;
}

tr:nth-child(even) {
  background-color: $accentLight;
}

td {
  padding: 0.5rem;
}

.right {
  text-align: end;
}

.center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.remove-icon {
  background-color: $primaryLight;
  color: $primaryDark;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $primaryLightAccent;
  }
}

.changed-property {
  color: $primaryDark;
}

.selected-row {
  color: $primaryDark;
}
