<h3>Skills</h3>

<div *ngFor="let skill of skills" class="skill">
  <div class="skill-name">
    <mat-checkbox color="primary" [disabled]="tagCount >= availableTagCount && !skill.isTagged" [(ngModel)]="skill.isTagged" (ngModelChange)="onSkillChange()"></mat-checkbox>
    <p>{{skill.name}}</p>
  </div>
  <div class="skill-input">
    <mat-icon (click)="decreaseRank(skill)" class="arrow-icon" [ngClass]="skill.ranks <= 0 ? 'arrow-icon-disabled' : 'arrow-icon-active'">keyboard_arrow_left</mat-icon>
    <app-number-input [min]="0" [max]="6" [(value)]="skill.ranks" (valueChange)="onSkillChange()"></app-number-input>
    <mat-icon (click)="increaseRank(skill)" class="arrow-icon" [ngClass]="skill.ranks >= 6 ? 'arrow-icon-disabled' : 'arrow-icon-active'">keyboard_arrow_right</mat-icon>
  </div>
</div>
