.skill {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.skill-name {
  display: flex;
  align-items: anchor-center;
  gap: 0.5rem;
  width: 200px;
}

.skill-input {
  display: flex;
  align-items: anchor-center;
}
