<h3>Skills</h3>

<div style="display: flex; align-items: anchor-center;">
  <mat-checkbox></mat-checkbox>
  <p>Athletics</p>
  <mat-icon>keyboard_arrow_left</mat-icon>
  <input type="number" style="width: 30px;">
  <mat-icon>keyboard_arrow_right</mat-icon>
</div>

<div style="display: flex; align-items: anchor-center;">
  <mat-checkbox></mat-checkbox>
  <p>Barter</p>
  <mat-icon>keyboard_arrow_left</mat-icon>
  <input type="number" style="width: 30px;">
  <mat-icon>keyboard_arrow_right</mat-icon>
</div>

<div style="display: flex; align-items: anchor-center;">
  <mat-checkbox></mat-checkbox>
  <p>Big Guns</p>
  <mat-icon>keyboard_arrow_left</mat-icon>
  <input type="number" style="width: 30px;">
  <mat-icon>keyboard_arrow_right</mat-icon>
</div>

<div style="display: flex; align-items: anchor-center;">
  <mat-checkbox></mat-checkbox>
  <p>Energy Weapons</p>
  <mat-icon>keyboard_arrow_left</mat-icon>
  <input type="number" style="width: 30px;">
  <mat-icon>keyboard_arrow_right</mat-icon>
</div>

<div style="display: flex; align-items: anchor-center;">
  <mat-checkbox></mat-checkbox>
  <p>Explosives</p>
  <mat-icon>keyboard_arrow_left</mat-icon>
  <input type="number" style="width: 30px;">
  <mat-icon>keyboard_arrow_right</mat-icon>
</div>
